<h1>users works!</h1>
<app-users></app-users>
<br/>
<main class="formation">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">

    <div class="container">
        <h3 class="h4 text-success font-weight-bold mb-4">Our Courses</h3>
          <div class="row ">
             <div class="col-lg-2">
            <div class="mb-3">
             <!-- <button class="btn btn-block btn-default" (click)="open(classic1, 'modal_mini', 'sm')">
               New
             </button> -->
            </div>
             </div>
              <div class="form-group">
                   <div class="input-group mb-8">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                      </div>
                     <!-- <input class="form-control" placeholder="Search" type="text" [(ngModel)]="searchText">
                                -->

                    </div>

              </div>
          </div>

<!-----------------------Formulaire------popUp------------------ -->
          <div  class="text-center flex-column flex-md-row">
               <ng-template #classic1 let-c="close" let-d="dismiss">
                   <div class="modal-content">
                      <div class="modal-body p-0">
                        <div class="card bg-secondary shadow border-0">
                         <div class="card-body px-lg-5 py-lg-5">
                            <form role="form"> <!-- (ngSubmit)="create()" -->
                              <fieldset>
                               <div class="form-group mb-3">
                                      <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class=" ni ni-hat-3"></i></span>
                                        </div>
                                         <!-- <input class="form-control" placeholder="Name"
                                           type="text" (focus)="focus=true" (blur)="focus=false" required type="text" [(ngModel)]="formation.nom" name="nom" >
                                      --></div>
                               </div>

                               <div class="form-group mb-3" >
                                <div class="input-group input-group-alternative">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                                  </div>
                                   <!-- <input class="form-control" placeholder="Place Number" type="number" (focus)="focus=true"
                                    (blur)="focus=false" required type="text" [(ngModel)]="formation.nombreParticipant" name="nombreParticipant">
                               --> </div>
                              </div>
    <!---------------------------------------- DatePicker ------------------------------------------------->

                               <div class="text-center">
                                  <!-- <button type="submit" class="btn btn-primary my-4" value="submit"  (click)="create()">Create</button>
-->
                               </div>
                              </fieldset>
                            </form>
                        </div>
                     </div>
                       </div>
                   </div>
               </ng-template>
          </div>

 <!---------------------------------------------Liste Formation----------------------------------------->

         <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"> </th>
                <th scope="col">Name</th>
                <th scope="col">Place Number</th>
                <th scope="col">Date debut</th>
                <th scope="col">Date fin</th>
                <th scope="col"> </th>
                <th scope="col"> </th>
                <th scope="col"> </th>
                <th scope="col"> </th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody  >
              <tr *ngFor="let usr of users" >
                <th scope="row"></th>
              <td >{{usr.id}}</td>
              <td >{{usr.firstname}}</td>
              <td >{{usr.lastname}}</td>
              <td >{{usr.username}}</td>
              <td >{{usr.id}}</td>
              <td >{{usr.id}}</td>
              <td >{{usr.id}}</td>
              <td >{{usr.id}}</td>
                <td>
                  <!-- <button class="btn btn-1 btn-neutral" type="button"  (click)="detail(formation.id)"> -->
                    <span class="btn-inner--icon"><i class="ni ni-books"></i></span>
                     Detail
                  <!--</button> -->
                </td>
                <td>
                 <!-- <button class="btn btn-1 btn-danger" type="button"  (click)="deleteformation(formation.id)">-->
                    <span class="btn-inner--icon"><i class="ni ni-books"></i></span>
                    Delete
               <!-- </button> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>


    </div>
  </div>
</div>
  </section>
</main>
