<!--<app-navbar></app-navbar>-->
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>


 <!---------------------------------------------Liste Formation----------------------------------------->

         <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Fiest Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Username</th>
                <th scope="col">birthdate</th>
                <th scope="col">email</th>
                <th scope="col">Notifications</th>
                <th scope="col">subs</th>
                <th scope="col">etat</th>
                <th scope="col">roles</th>
                <th scope="col">phone</th>
                <th scope="col">formations</th>
                <th scope="col">appointements</th>
                <th scope="col">reclamations</th>
              </tr>
            </thead>
            <tbody  >
              <tr *ngFor="let usr of users" >
                <!--<th scope="row"></th>-->
              <td >{{usr.id}}</td>
              <td >{{usr.firstname}}</td>
              <td >{{usr.lastname}}</td>
              <td >{{usr.username}}</td>
              <td >{{usr.birthdate}}</td>
              <td >{{usr.email}}</td>
              <td >{{usr.notifications}}</td>
              <td >{{usr.subscriptions}}</td>
              <td >{{usr.etat}}</td>
              <td >{{usr.roles}}</td>
              <td >{{usr.phone}}</td>
              <td >{{usr.formations}}</td>
              <td >{{usr.appointments}}</td>
              <td >{{usr.reclamations}}</td>
                <td>
                  <button class="btn btn-1 btn-neutral" type="button"  (click)="Edituser(usr.id)">
                     <span class="btn-inner--icon"><i class="ni ni-ruler-pencil"></i></span>
                     Edit
                  </button>
                </td>
                <td>
                <button class="btn btn-1 btn-danger" type="button" (click)="deleteusers(usr.id)">
                  <span class="btn-inner--icon"><i class="ni ni-fat-remove"></i></span>
                    Delete
                </button>
                </td>
              </tr>
            </tbody>
          </table>


        </div>



